In [ ]:
import sqlite3
import pandas as pd
with sqlite3.connect('data/chinook.db') as con:
    df_employee=pd.read_sql(
        "SELECT * from employees", con=con
    )
df_employee.head(10)

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [ ]:
df_iris=pd.read_json('data/iris.json')
print(df_iris.shape)
df_iris.head(0)

(150, 5)

Empty DataFrame
Columns: [sepalLength, sepalWidth, petalLength, petalWidth, species]
Index: []

In [ ]:
df_exc=pd.read_excel("data/titanic.xlsx")
df_exc.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
import random
df_csv=pd.read_csv('data/movie.csv')
for i in range(10):
    print(df_csv.iloc[random.randint(0, 100)])
    print('-'*50)

color                                                                    Color
director_name                                                      Tom Shadyac
num_critic_for_reviews                                                   186.0
duration                                                                  96.0
director_facebook_likes                                                  293.0
actor_3_facebook_likes                                                  7000.0
actor_2_name                                                    Morgan Freeman
actor_1_facebook_likes                                                 87000.0
gross                                                              100289690.0
genres                                                   Comedy|Family|Fantasy
actor_1_name                                                     Jimmy Bennett
movie_title                                                      Evan Almighty
num_voted_users                                                         115099
cast_total_facebook_likes                                               108016
actor_3_name                                                      Steve Carell
facenumber_in_poster                                                       0.0
plot_keywords                    ark|change|congressman|depiction of god|flood
movie_imdb_link              http://www.imdb.com/title/tt0413099/?ref_=fn_t...
num_user_for_reviews                                                     257.0
language                                                               English
country                                                                    USA
content_rating                                                              PG
budget                                                             175000000.0
title_year                                                              2007.0
actor_2_facebook_likes                                                 11000.0
imdb_score                                                                 5.4
aspect_ratio                                                              2.35
movie_facebook_likes                                                      2000
Name: 74, dtype: object
--------------------------------------------------
color                                                                    Color
director_name                                                 Steven Spielberg
num_critic_for_reviews                                                   470.0
duration                                                                 122.0
director_facebook_likes                                                14000.0
actor_3_facebook_likes                                                  1000.0
actor_2_name                                                      Ray Winstone
actor_1_facebook_likes                                                 11000.0
gross                                                              317011114.0
genres                                                Action|Adventure|Fantasy
actor_1_name                                                     Harrison Ford
movie_title                  Indiana Jones and the Kingdom of the Crystal S...
num_voted_users                                                         333847
cast_total_facebook_likes                                                14959
actor_3_name                                                     Jim Broadbent
facenumber_in_poster                                                       2.0
plot_keywords                cult figure|femme fatale|indiana jones|unsubti...
movie_imdb_link              http://www.imdb.com/title/tt0367882/?ref_=fn_t...
num_user_for_reviews                                                    2054.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                             185000000.0
title_year                                                              2008.0
actor_2_facebook_likes                                                  1000.0
imdb_score                                                                 6.2
aspect_ratio                                                              2.35
movie_facebook_likes                                                      5000
Name: 54, dtype: object
--------------------------------------------------
color                                                                    Color
director_name                                                    Peter Jackson
num_critic_for_reviews                                                   422.0
duration                                                                 164.0
director_facebook_likes                                                    0.0
actor_3_facebook_likes                                                   773.0
actor_2_name                                                        Adam Brown
actor_1_facebook_likes                                                  5000.0
gross                                                              255108370.0
genres                                                       Adventure|Fantasy
actor_1_name                                                      Aidan Turner
movie_title                          The Hobbit: The Battle of the Five Armies
num_voted_users                                                         354228
cast_total_facebook_likes                                                 9152
actor_3_name                                                     James Nesbitt
facenumber_in_poster                                                       0.0
plot_keywords                                 army|elf|hobbit|middle earth|orc
movie_imdb_link              http://www.imdb.com/title/tt2310332/?ref_=fn_t...
num_user_for_reviews                                                     802.0
language                                                               English
country                                                            New Zealand
content_rating                                                           PG-13
budget                                                             250000000.0
title_year                                                              2014.0
actor_2_facebook_likes                                                   972.0
imdb_score                                                                 7.5
aspect_ratio                                                              2.35
movie_facebook_likes                                                     65000
Name: 20, dtype: object
--------------------------------------------------
color                                                                    Color
director_name                                                     Brett Ratner
num_critic_for_reviews                                                   334.0
duration                                                                 104.0
director_facebook_likes                                                  420.0
actor_3_facebook_likes                                                   560.0
actor_2_name                                                    Kelsey Grammer
actor_1_facebook_likes                                                 20000.0
gross                                                              234360014.0
genres                                Action|Adventure|Fantasy|Sci-Fi|Thriller
actor_1_name                                                      Hugh Jackman
movie_title                                              X-Men: The Last Stand
num_voted_users                                                         383427
cast_total_facebook_likes                                                21714
actor_3_name                                                    Daniel Cudmore
facenumber_in_poster                                                       0.0
plot_keywords                battle|mutant|outrage|walking through a wall|x...
movie_imdb_link              http://www.imdb.com/title/tt0376994/?ref_=fn_t...
num_user_for_reviews                                                    1912.0
language                                                               English
country                                                                 Canada
content_rating                                                           PG-13
budget                                                             210000000.0
title_year                                                              2006.0
actor_2_facebook_likes                                                   808.0
imdb_score                                                                 6.8
aspect_ratio                                                              2.35
movie_facebook_likes                                                         0
Name: 34, dtype: object
--------------------------------------------------
color                                                                    Color
director_name                                                   Gore Verbinski
num_critic_for_reviews                                                   302.0
duration                                                                 169.0
director_facebook_likes                                                  563.0
actor_3_facebook_likes                                                  1000.0
actor_2_name                                                     Orlando Bloom
actor_1_facebook_likes                                                 40000.0
gross                                                              309404152.0
genres                                                Action|Adventure|Fantasy
actor_1_name                                                       Johnny Depp
movie_title                           Pirates of the Caribbean: At World's End
num_voted_users                                                         471220
cast_total_facebook_likes                                                48350
actor_3_name                                                    Jack Davenport
facenumber_in_poster                                                       0.0
plot_keywords                goddess|marriage ceremony|marriage proposal|pi...
movie_imdb_link              http://www.imdb.com/title/tt0449088/?ref_=fn_t...
num_user_for_reviews                                                    1238.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                             300000000.0
title_year                                                              2007.0
actor_2_facebook_likes                                                  5000.0
imdb_score                                                                 7.1
aspect_ratio                                                              2.35
movie_facebook_likes                                                         0
Name: 1, dtype: object
--------------------------------------------------
color                                                                    Color
director_name                                                       Rich Moore
num_critic_for_reviews                                                   377.0
duration                                                                 101.0
director_facebook_likes                                                   66.0
actor_3_facebook_likes                                                   833.0
actor_2_name                                                   Sarah Silverman
actor_1_facebook_likes                                                   975.0
gross                                                              189412677.0
genres                                Adventure|Animation|Comedy|Family|Sci-Fi
actor_1_name                                                     Jack McBrayer
movie_title                                                     Wreck-It Ralph
num_voted_users                                                         272534
cast_total_facebook_likes                                                 4451
actor_3_name                                                    Joe Lo Truglio
facenumber_in_poster                                                       1.0
plot_keywords                                   arcade|candy|glitch|king|medal
movie_imdb_link              http://www.imdb.com/title/tt1772341/?ref_=fn_t...
num_user_for_reviews                                                     345.0
language                                                               English
country                                                                    USA
content_rating                                                              PG
budget                                                             165000000.0
title_year                                                              2012.0
actor_2_facebook_likes                                                   931.0
imdb_score                                                                 7.8
aspect_ratio                                                              2.35
movie_facebook_likes                                                     40000
Name: 90, dtype: object
--------------------------------------------------
color                                                                    Color
director_name                                                Christopher Nolan
num_critic_for_reviews                                                   642.0
duration                                                                 148.0
director_facebook_likes                                                22000.0
actor_3_facebook_likes                                                 23000.0
actor_2_name                                                         Tom Hardy
actor_1_facebook_likes                                                 29000.0
gross                                                              292568851.0
genres                                        Action|Adventure|Sci-Fi|Thriller
actor_1_name                                                 Leonardo DiCaprio
movie_title                                                          Inception
num_voted_users                                                        1468200
cast_total_facebook_likes                                                81115
actor_3_name                                              Joseph Gordon-Levitt
facenumber_in_poster                                                       0.0
plot_keywords                ambiguous ending|corporate espionage|dream|sub...
movie_imdb_link              http://www.imdb.com/title/tt1375666/?ref_=fn_t...
num_user_for_reviews                                                    2803.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                             160000000.0
title_year                                                              2010.0
actor_2_facebook_likes                                                 27000.0
imdb_score                                                                 8.8
aspect_ratio                                                              2.35
movie_facebook_likes                                                    175000
Name: 97, dtype: object
--------------------------------------------------
color                                                                    Color
director_name                                                   Gore Verbinski
num_critic_for_reviews                                                   302.0
duration                                                                 169.0
director_facebook_likes                                                  563.0
actor_3_facebook_likes                                                  1000.0
actor_2_name                                                     Orlando Bloom
actor_1_facebook_likes                                                 40000.0
gross                                                              309404152.0
genres                                                Action|Adventure|Fantasy
actor_1_name                                                       Johnny Depp
movie_title                           Pirates of the Caribbean: At World's End
num_voted_users                                                         471220
cast_total_facebook_likes                                                48350
actor_3_name                                                    Jack Davenport
facenumber_in_poster                                                       0.0
plot_keywords                goddess|marriage ceremony|marriage proposal|pi...
movie_imdb_link              http://www.imdb.com/title/tt0449088/?ref_=fn_t...
num_user_for_reviews                                                    1238.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                             300000000.0
title_year                                                              2007.0
actor_2_facebook_likes                                                  5000.0
imdb_score                                                                 7.1
aspect_ratio                                                              2.35
movie_facebook_likes                                                         0
Name: 1, dtype: object
--------------------------------------------------
color                                                                    Color
director_name                                                       Justin Lin
num_critic_for_reviews                                                   322.0
duration                                                                 122.0
director_facebook_likes                                                  681.0
actor_3_facebook_likes                                                   105.0
actor_2_name                                                  Melissa Roxburgh
actor_1_facebook_likes                                                   998.0
gross                                                              130468626.0
genres                                        Action|Adventure|Sci-Fi|Thriller
actor_1_name                                                    Sofia Boutella
movie_title                                                   Star Trek Beyond
num_voted_users                                                          53607
cast_total_facebook_likes                                                 1327
actor_3_name                                                      Lydia Wilson
facenumber_in_poster                                                       4.0
plot_keywords                   hatred|sequel|space opera|star trek|third part
movie_imdb_link              http://www.imdb.com/title/tt2660888/?ref_=fn_t...
num_user_for_reviews                                                     432.0
language                                                               English
country                                                                    USA